<!-- Intro Start -->

<header class="intro">
  <div class="wrapper">
    <span class="intro-text" style="font-size: 58px; font-weight: bolder;">{{ content }}</span>
  </div>
  <div>
    <span style="font-size: 32px;">Yue Wu, Zhaobo Qi, Yiling Wu, Junshu Sun, Yaowei Wang, Shuhui Wang</span>
  </div>
  <a href="#{{ site.pages_list['Abstract'] }}" class="page-scroll">
    <!-- {% if site.me-img contains "https://" %}
    <img class="img-me" src="{{ site.me-img }}" alt="" />
    {% else %} -->
    <!-- <img
      class="img-me"
      src="{{site.baseurl}}{{ site.me-img }}"
      alt=""
    />
    {% endif %} -->
  </a>
    <div class="button-container" style="display:flex;justify-content: center; align-items:center;">
      <button class="button">
          <i class="fa fa-file-pdf"></i> Paper
      </button>
      <button class="button">
          <i class="fab fa-github"></i> Code
      </button>
      <button class="button">
        <i class="fa fa-database"></i> Dataset
    </button>
      <button class="button">
          <i class="fas fa-file-alt"></i> BibTeX
      </button>
    </div>
</header>

<!-- Intro End -->
